.creditcard-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: var(--mat-sys-surface-container-high);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--mat-sys-outline);

  width:560px;
  .row {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    > div {
        width: 100%;
        mat-form-field {
            width: 100%;
        }
    }
  }
}
