@let form = orderForm;
<div class="outer-container">
  <div class="form-container">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" [formField]="form.name" />
      <mat-error *ngIf="hasError(form, 'name', 'required')">{{
        form.name().errors()[0].message
      }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" [formField]="form.email" />
      <mat-error *ngIf="hasError(form, 'email', 'required') || hasError(form, 'email', 'email')">{{
        form.email().errors()[0].message
      }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Street</mat-label>
      <input matInput type="text" [formField]="form.street" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Zip</mat-label>
      <input matInput type="text" [formField]="form.zip" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput type="text" [formField]="form.city" />
    </mat-form-field>

    <password-form [subform]="form.passwords"></password-form>

    <mat-form-field>
      <mat-label>Payment Method</mat-label>
      <mat-select matInput [formField]="form.paymentMethod">
        <mat-option value="cash">Cash</mat-option>
        <mat-option value="card">Card</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Total Amount</mat-label>
      <input matInput type="text" [formField]="form.totalAmount" />
      <mat-icon matSuffix>{{ 'euro' }}</mat-icon>
    </mat-form-field>

    @if (!form.creditcardinformation().hidden()) {
      <creditcard-form [subform]="form.creditcardinformation"></creditcard-form>
    }

    <div class="row">
      <button
        mat-button
        (click)="submitForm($event)"
        [disabled]="form().invalid() || form().submitting()"
      >
        Submit
      </button>
      <mat-progress-spinner
        *ngIf="form().submitting()"
        mode="indeterminate"
        diameter="20"
      ></mat-progress-spinner>
    </div>
  </div>

  <div class="form-state-summary">
    <h2>Form State Summary</h2>
    <pre>{{ stateSummary() | json }}</pre>
  </div>
</div>
