:host {
  display: flex;
  flex-direction: column;
  padding: 100px 0 0 0;
  align-items: center;
}

.outer-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  gap: 50px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;

  mat-form-field {
    width: 100%;
  }
}

.form-state-summary {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
}
