<mat-form-field>
  <mat-label>Password</mat-label>
  <input matInput [type]="showPassword() ? 'text' : 'password'" [formField]="subform().password" />
  <mat-icon matSuffix (click)="toggleShowPassword()">{{
    showPassword() ? 'visibility_off' : 'visibility'
  }}</mat-icon>
  <mat-error *ngIf="hasError(subform(), 'password', 'passwordmatch')">{{
    subform().password().errors()[0].message
  }}</mat-error>
</mat-form-field>

<mat-form-field>
  <mat-label>Confirm Password</mat-label>
  <input
    matInput
    [type]="showConfirmPassword() ? 'text' : 'password'"
    [formField]="subform().confirmPassword"
  />
  <mat-icon matSuffix (click)="toggleShowConfirmPassword()">{{
    showConfirmPassword() ? 'visibility_off' : 'visibility'
  }}</mat-icon>
  <mat-error *ngIf="hasError(subform(), 'confirmPassword', 'passwordmatch')">{{
    subform().confirmPassword().errors()[0].message
  }}</mat-error>
</mat-form-field>
