@let form = orderForm;
<div class="outer-container">
  <div class="form-container">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" [formField]="form.name" />
      <mat-error *ngIf="hasError('name', 'required')">{{
        form.name().errors()[0].message
      }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" [formField]="form.email" />
      <mat-error *ngIf="hasError('email', 'required') || hasError('email', 'email')">{{
        form.email().errors()[0].message
      }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Street</mat-label>
      <input matInput type="text" [formField]="form.street" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput type="text" [formField]="form.city" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Zip</mat-label>
      <input matInput type="text" [formField]="form.zip" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput [type]="showPassword() ? 'text' : 'password'" [formField]="form.password" />
      <mat-icon matSuffix (click)="toggleShowPassword()">{{
        showPassword() ? 'visibility_off' : 'visibility'
      }}</mat-icon>
      <mat-error *ngIf="hasError('password', 'passwordmatch')">{{
        form.password().errors()[0].message
      }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        [type]="showConfirmPassword() ? 'text' : 'password'"
        [formField]="form.confirmPassword"
      />
      <mat-icon matSuffix (click)="toggleShowConfirmPassword()">{{
        showConfirmPassword() ? 'visibility_off' : 'visibility'
      }}</mat-icon>
      <mat-error *ngIf="hasError('confirmPassword', 'passwordmatch')">{{
        form.confirmPassword().errors()[0].message
      }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Payment Method</mat-label>
      <mat-select matInput [formField]="form.paymentMethod">
        <mat-option value="cash">Cash</mat-option>
        <mat-option value="card">Card</mat-option>
      </mat-select>
    </mat-form-field>

    
    <ng-container *ngIf="!form.cardNumber().hidden()">
        <mat-form-field>
            <mat-label>Card number</mat-label>
            <input matInput type="text" [formField]="form.cardNumber" />
        </mat-form-field>
        {{ form.cardNumber().metadata(CARD_TYPE)?.() }} card
    </ng-container>

    <button
      mat-button
      (click)="submitForm($event)"
      [disabled]="form().invalid() || form().submitting()"
    >
      Submit
    </button>
  </div>

  <div class="form-state-summary">
    <h2>Form State Summary</h2>
    <pre>{{ stateSummary() | json }}</pre>
  </div>
</div>
