:host {
  display: flex;
  flex-direction: column;
  padding: 100px 0 0 0;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;

  mat-form-field {
    width: 100%;
  }
}
