:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-input {
  width: 100%;
  margin-bottom: 20px;
}

.todos-list {
  width: 100%;
  margin-bottom: 20px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .completed {
    text-decoration: line-through;
    color: #888;
  }
}

.delete-icon {
  cursor: pointer;
  color: #cc0000;
}
